@model ITrustsAreaModel

@{
  Layout = "_Layout";
  ViewData["Title"] = Model.PageMetadata.BrowserTitle;
}

<partial name="_TrustBanner" model="@Model" />
<partial name="Shared/NavMenu/_ServiceNav" model="@TrustNavMenu.GetServiceNavLinks(Model)" />
<div class="govuk-main-wrapper govuk-!-padding-top-6">
  <div class="dfe-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <main id="main-content">
          @await RenderSectionAsync("TrustPageMessage", false)
          <header>
            <h1 class="govuk-heading-l" data-testid="page-name">@Model.PageMetadata.PageName</h1>
          </header>
          <partial name="Shared/NavMenu/_SubNav" model="@TrustNavMenu.GetSubNavLinks(Model)" />
          @RenderBody()
        </main>
        <partial name="Shared/DataSource/_SourceList" model="@Model.DataSourcesPerPage" />
      </div>
    </div>
  </div>
</div>

@section Scripts {
  @await RenderSectionAsync("Scripts", false)
}
