@model ITrustsAreaModel

@functions {

  private string GetCurrentLinkClassIf(string linkName)
  {
    var currentLinkClass = "ds_current govuk-!-font-weight-bold";
    return Model.PageName == linkName ? currentLinkClass : string.Empty;
  }

}

<nav aria-label="Sections" class="ds_side-navigation app-side-navigation" data-module="ds-side-navigation">
  <input type="checkbox" class="fully-hidden js-toggle-side-navigation" id="show-side-navigation" aria-controls="side-navigation-root"/>
  <label class="ds_side-navigation__expand" for="show-side-navigation"><span class="visually-hidden">Show all</span> Pages in this section <span class="ds_side-navigation__expand-indicator"></span></label>

  <ul class="ds_side-navigation__list app-side-navigation__list" id="side-navigation-root">
    <li class="ds_side-navigation__item  ds_side-navigation__item--has-children app-side-navigation__item--has-children">
      <div class="govuk-caption-m app-side-navigation__title">@ViewConstants.AboutTheTrustSectionName</div>
      <ul class="ds_side-navigation__list app-side-navigation__list">
        <li class="ds_side-navigation__item app-side-navigation-highlight-item">
          <a asp-page="./Details" asp-route-uid="@Model.Trust.Uid" class="ds_side-navigation__link govuk-body govuk-link govuk-link--no-visited-state @GetCurrentLinkClassIf("Details")">
            <span class="visually-hidden">Trust</span>Details
          </a>
        </li>
        <li class="ds_side-navigation__item app-side-navigation-highlight-item">
          <a asp-page="./Overview" asp-route-uid="@Model.Trust.Uid" class="ds_side-navigation__link govuk-body govuk-link govuk-link--no-visited-state @GetCurrentLinkClassIf("Overview")">
            <span class="visually-hidden">Trust</span>Overview
          </a>
        </li>
        <li class="ds_side-navigation__item app-side-navigation-highlight-item">
          <a asp-page="./Contacts" asp-route-uid="@Model.Trust.Uid" class="ds_side-navigation__link govuk-body govuk-link govuk-link--no-visited-state @GetCurrentLinkClassIf("Contacts")">
            <span class="visually-hidden">Trust</span>Contacts
          </a>
        </li>
      </ul>
    </li>
  </ul>
</nav>
