@page
@using DfE.FindInformationAcademiesTrusts.Data
@model ContactsModel

@{
  Layout = "_TrustLayout";
}

<section class="govuk-!-margin-top-8 govuk-!-margin-bottom-9">
  <div class="govuk-summary-card">
    <div class="govuk-summary-card__title-wrapper">
      <h2 class="govuk-summary-card__title">DfE contacts</h2>
    </div>
    <div class="govuk-summary-card__content">
      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Trust relationship manager
          </dt>
          @{ DisplayContact(Model.Trust.TrustRelationshipManager); }
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            SFSO (Schools financial support and oversight) lead
          </dt>
          @{ DisplayContact(Model.Trust.SfsoLead); }
        </div>
      </dl>
    </div>
  </div>
</section>

<section class="govuk-!-margin-top-8 govuk-!-margin-bottom-9">
  <div class="govuk-summary-card">
    <div class="govuk-summary-card__title-wrapper">
      <h2 class="govuk-summary-card__title">Trust Contacts</h2>
    </div>
    <div class="govuk-summary-card__content">
      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Accounting officer
          </dt>
          @{ DisplayContact(Model.AccountingOfficer); }
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Chair of trustees
          </dt>
          @{ DisplayContact(Model.ChairOfTrustees); }
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Chief financial officer
          </dt>
          @{ DisplayContact(Model.ChiefFinancialOfficer); }
        </div>

      </dl>
    </div>
  </div>
</section>

@functions {

  private void DisplayContact(Person? contactToDisplay)
  {
    <dd class="govuk-summary-list__value">

      @if (contactToDisplay is null)
      {
        <p class="govuk-body">@Model.ContactInformationNotAvailableMessage</p>
      }

      else if (contactToDisplay?.FullName is not null)
      {
        <p class="govuk-body">@contactToDisplay.FullName</p>
      }

      else
      {
        <p class="govuk-body">@Model.ContactNameNotAvailableMessage</p>
      }

      <p class="govuk-body">
        @if (contactToDisplay is null)
        {
          <a class="govuk-body">@Model.ContactInformationNotAvailableMessage</a>
        }

        else if (contactToDisplay?.Email is not null)
        {
          <a class="govuk-link" href="mailto:@contactToDisplay.Email">@contactToDisplay.Email</a>
        }

        else
        {
          <a class="govuk-body">@Model.ContactEmailNotAvailableMessage</a>
        }
      </p>
    </dd>
  }

}
