@page
@using DfE.FindInformationAcademiesTrusts.Data
@using DfE.FindInformationAcademiesTrusts.Data.Enums
@using DfE.FindInformationAcademiesTrusts.Extensions
@model ContactsModel

@{
  Layout = "_TrustLayout";
}

@section TrustPageMessage
{
  @if (!string.IsNullOrWhiteSpace(TempData["ContactUpdatedMessage"] as string))
  {
    <div class="govuk-notification-banner govuk-notification-banner--success" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
      <div class="govuk-notification-banner__header">
        <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
          Success
        </h2>
      </div>
      <div class="govuk-notification-banner__content">
        <h3 class="govuk-notification-banner__heading">
          @TempData["ContactUpdatedMessage"]
        </h3>
      </div>
    </div>
  }
}

<section class="govuk-!-margin-bottom-9">
  <h2 class="govuk-heading-m">
    Contacts at DfE
  </h2>
  <div class="govuk-summary-card" data-testid="trust-relationship-manager">
    <div class="govuk-summary-card__title-wrapper">
      <h3 class="govuk-summary-card__title">
        @ContactRole.TrustRelationshipManager.MapRoleToViewString()
      </h3>
      <div class="govuk-summary-card__actions">
        <a class="govuk-link" asp-page="/Trusts/Contacts/EditTrustRelationshipManager" asp-route-uid="@Model.Uid">Change<span class="govuk-visually-hidden"> details of this contact (@ContactRole.TrustRelationshipManager.MapRoleToViewString())</span></a>
      </div>
    </div>
    @{ DisplayContact(Model.TrustRelationshipManager); }
  </div>
  <div class="govuk-summary-card" data-testid="sfso-lead">
    <div class="govuk-summary-card__title-wrapper">
      <h3 class="govuk-summary-card__title">
        @ContactRole.SfsoLead.MapRoleToViewString()
      </h3>
      <div class="govuk-summary-card__actions">
        <a class="govuk-link" asp-page="/Trusts/Contacts/EditSfsoLead" asp-route-uid="@Model.Uid">Change<span class="govuk-visually-hidden"> details of this contact (@ContactRole.SfsoLead.MapRoleToViewString())</span></a>
      </div>
    </div>
    @{ DisplayContact(Model.SfsoLead); }
  </div>
</section>

<section class="govuk-!-margin-top-8 govuk-!-margin-bottom-9">
  <h2 class="govuk-heading-m">
    Contacts at the trust
  </h2>
  <div class="govuk-summary-card" data-testid="accounting-officer">
    <div class="govuk-summary-card__title-wrapper contact-card-title-with-disclaimer">
      <h3 class="govuk-summary-card__title">
        Accounting officer
      </h3>
      <div class="govuk-summary-card__actions govuk-!-margin-0">
        @await Html.PartialAsync("Shared/_SummaryCardDisclaimerText")
      </div>
    </div>
    @{ DisplayContact(Model.AccountingOfficer); }
  </div>
  <div class="govuk-summary-card" data-testid="chair-of-trustees">
    <div class="govuk-summary-card__title-wrapper contact-card-title-with-disclaimer">
      <h3 class="govuk-summary-card__title">
        Chair of trustees
      </h3>
      <div class="govuk-summary-card__actions govuk-!-margin-0">
        @await Html.PartialAsync("Shared/_SummaryCardDisclaimerText")
      </div>
    </div>
    @{ DisplayContact(Model.ChairOfTrustees); }
  </div>
  <div class="govuk-summary-card" data-testid="chief-financial-officer">
    <div class="govuk-summary-card__title-wrapper contact-card-title-with-disclaimer">
      <h3 class="govuk-summary-card__title">
        Chief financial officer
      </h3>
      <div class="govuk-summary-card__actions govuk-!-margin-0">
        @await Html.PartialAsync("Shared/_SummaryCardDisclaimerText")
      </div>
    </div>
    @{ DisplayContact(Model.ChiefFinancialOfficer); }
  </div>
</section>

@functions {

  private void DisplayContact(Person? contactToDisplay)
  {
    <div class="govuk-summary-card__content">
      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Name
          </dt>
          @if (!string.IsNullOrWhiteSpace(contactToDisplay?.FullName))
          {
            <dd class="govuk-summary-list__value" data-testid="contact-name">@contactToDisplay.FullName</dd>
          }
          else
          {
            <dd class="govuk-summary-list__value" data-testid="contact-name">@ContactsModel.ContactNameNotAvailableMessage</dd>
          }
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Email address
          </dt>
          @if (!string.IsNullOrWhiteSpace(contactToDisplay?.Email))
          {
            <dd class="govuk-summary-list__value">
              <a class="govuk-link" href="mailto:@contactToDisplay.Email" rel="noopener" target="_blank" data-testid="contact-email">@contactToDisplay.Email</a>
            </dd>
          }
          else
          {
            <dd class="govuk-summary-list__value" data-testid="contact-email">@ContactsModel.ContactEmailNotAvailableMessage</dd>
          }
        </div>
      </dl>
    </div>
  }

}
