@page
@using DfE.FindInformationAcademiesTrusts.Data
@model ContactsModel

@{
  Layout = "_TrustLayout";
}

<section class="govuk-!-margin-top-8 govuk-!-margin-bottom-9">
  <div class="govuk-summary-card">
    <div class="govuk-summary-card__title-wrapper">
      <h2 class="govuk-summary-card__title">DfE contacts</h2>
    </div>
    <div class="govuk-summary-card__content">
      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row" data-testid="trust-relationship-manager">
          <dt class="govuk-summary-list__key">
            Trust relationship manager
          </dt>
          @{ DisplayContact(Model.Trust.TrustRelationshipManager); }
        </div>
        <div class="govuk-summary-list__row" data-testid="sfso-lead">
          <dt class="govuk-summary-list__key">
            SFSO (Schools financial support and oversight) lead
          </dt>
          @{ DisplayContact(Model.Trust.SfsoLead); }
        </div>
      </dl>
    </div>
  </div>
</section>

<section class="govuk-!-margin-top-8 govuk-!-margin-bottom-9">
  <div class="govuk-summary-card">
    <div class="govuk-summary-card__title-wrapper">
      <h2 class="govuk-summary-card__title">Trust contacts</h2>
    </div>
    <div class="govuk-summary-card__content">
      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row" data-testid="accounting-officer">
          <dt class="govuk-summary-list__key">
            Accounting officer
          </dt>
          @{ DisplayContact(Model.AccountingOfficer); }
        </div>
        <div class="govuk-summary-list__row" data-testid="chair-of-trustees">
          <dt class="govuk-summary-list__key">
            Chair of trustees
          </dt>
          @{ DisplayContact(Model.ChairOfTrustees); }
        </div>
        <div class="govuk-summary-list__row" data-testid="chief-financial-officer">
          <dt class="govuk-summary-list__key">
            Chief financial officer
          </dt>
          @{ DisplayContact(Model.ChiefFinancialOfficer); }
        </div>

      </dl>
    </div>
  </div>
</section>

@functions {

  private void DisplayContact(Person? contactToDisplay)
  {
    <dd class="govuk-summary-list__value">

      @if (contactToDisplay is null)
      {
        <p class="govuk-body">@ContactsModel.ContactInformationNotAvailableMessage</p>
      }
      else
      {
        @if (!string.IsNullOrWhiteSpace(contactToDisplay.FullName))
        {
          <p class="govuk-body" data-testid="contact-name">@contactToDisplay.FullName</p>
        }
        else
        {
          <p class="govuk-body">@ContactsModel.ContactNameNotAvailableMessage</p>
        }

        <p class="govuk-body">
          @if (contactToDisplay.Email is not null)
          {
            <a class="govuk-link" href="mailto:@contactToDisplay.Email" rel="noopener" target="_blank" data-testid="contact-email">@contactToDisplay.Email</a>
          }
          else
          {
            <a class="govuk-body">@ContactsModel.ContactEmailNotAvailableMessage</a>
          }
        </p>
      }
    </dd>
  }

}
