@page
@model DetailsModel
@{
  Layout = "_TrustLayout";
}

<section class="govuk-!-margin-top-8 govuk-!-margin-bottom-9">
  <div class="govuk-summary-card">
    <div class="govuk-summary-card__title-wrapper">
      <h2 class="govuk-summary-card__title">Trust details</h2>
    </div>
    <div class="govuk-summary-card__content">
      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Address
          </dt>
          <dd class="govuk-summary-list__value">
            @Model.Trust.Address
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Opened on
          </dt>
          <dd class="govuk-summary-list__value">
            @if (Model.Trust.OpenedDate is not null)
            {
              @Model.Trust.OpenedDate.Value.ToString("d MMM yyyy")
            }
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Region and territory
          </dt>
          <dd class="govuk-summary-list__value">
            @Model.Trust.RegionAndTerritory
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Information from other services (opens in a new tab)
          </dt>
          <dd class="govuk-summary-list__value">
            <p class="govuk-body">
              <a class="govuk-link" rel="noreferrer noopener" target="_blank" href="@Model.CompaniesHouseLink">Companies House</a>
            </p>
            @if (Model.GetInformationAboutSchoolsLink is not null)
            {
              <p class="govuk-body">
                <a class="govuk-link" rel="noreferrer noopener" target="_blank" href="@Model.GetInformationAboutSchoolsLink">Get information about schools</a>
              </p>
            }
            @if (Model.SchoolsFinancialBenchmarkingLink is not null)
            {
              <p class="govuk-body">
                <a class="govuk-link" rel="noreferrer noopener" target="_blank" href="@Model.SchoolsFinancialBenchmarkingLink">Schools financial benchmarking</a>
              </p>
            }
            @if (Model.FindSchoolPerformanceLink is not null)
            {
              <p class="govuk-body">
                <a class="govuk-link" rel="noreferrer noopener" target="_blank" href="@Model.FindSchoolPerformanceLink">Find school college and performance data in England</a>
              </p>
            }
          </dd>
        </div>
      </dl>
    </div>
  </div>
</section>

<section class="govuk-!-margin-top-8 govuk-!-margin-bottom-9">
  <div class="govuk-summary-card">
    <div class="govuk-summary-card__title-wrapper">
      <h2 class="govuk-summary-card__title">Reference numbers</h2>
    </div>
    <div class="govuk-summary-card__content">
      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            UID (Unique group identifier)
          </dt>
          <dd class="govuk-summary-list__value">
            @Model.Trust.Uid
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Group ID (identifier) and TRN (trust reference number)
          </dt>
          <dd class="govuk-summary-list__value">
            @Model.Trust.GroupId
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            UKPRN (UK provider reference number)
          </dt>
          <dd class="govuk-summary-list__value">
            @Model.Trust.Ukprn
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Companies House number
          </dt>
          <dd class="govuk-summary-list__value">
            @Model.Trust.CompaniesHouseNumber
          </dd>
        </div>
      </dl>
    </div>
  </div>
</section>
