@page
@using DfE.FindInformationAcademiesTrusts.Data
@using DfE.FindInformationAcademiesTrusts.Extensions
@model OverviewModel

@{
  Layout = "_TrustLayout";
}

<section>
  <div class="govuk-!-margin-top-9 govuk-!-margin-bottom-1">
    <div class="govuk-grid-row">
      <!-- Trust Summary Section -->
      <div class="govuk-grid-column-one-half">
        <section class="govuk-summary-card" data-testid="trust-summary">
          <div class="govuk-summary-card__title-wrapper">
            <h2 class="govuk-summary-card__title" id="trust-information">Trust summary</h2>
          </div>
          <div class="govuk-summary-card__content">
            <dl class="govuk-summary-list">
              <!-- Total Academies -->
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key govuk-!-width-one-half">
                  Total academies
                </dt>
                <dd class="govuk-summary-list__value" data-testid="total-academies">
                  @Model.TotalAcademies
                </dd>
              </div>
              <!-- Academies in Each Local Authority -->
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key govuk-!-width-one-half">
                  Academies in each local authority
                </dt>
                <dd class="govuk-summary-list__value" data-testid="academies-in-each-authority">
                  @foreach (var (authority, total) in Model.AcademiesInEachLocalAuthority)
                  {
                    <p class="govuk-body govuk-!-margin-bottom-1">@total in @authority</p>
                  }
                </dd>
              </div>
              <!-- Pupil Numbers -->
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key govuk-!-width-one-half">
                  Pupil numbers
                </dt>
                <dd class="govuk-summary-list__value" data-testid="number-of-pupils">
                  @($"{Model.TotalPupilNumbers:n0}")
                </dd>
              </div>
              <!-- Pupil Capacity and Percentage Full -->
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key govuk-!-width-one-half">
                  Pupil capacity <br>(% full)
                </dt>
                <dd class="govuk-summary-list__value" data-testid="pupil-capacity">
                  @($"{Model.TotalCapacity:n0}")
                  @if (Model.PercentageFull is not null)
                  {
                    <br>
                    @($"({Model.PercentageFull}%)")
                  }
                </dd>
              </div>
            </dl>
          </div>
        </section>
      </div>
      <!-- Ofsted Ratings Section -->
      <div class="govuk-grid-column-one-half">
        <section class="govuk-summary-card" data-testid="ofsted-ratings">
          <div class="govuk-summary-card__title-wrapper">
            <h2 class="govuk-summary-card__title" id="ofsted-ratings">Ofsted ratings</h2>
          </div>
          <div class="govuk-summary-card__content">
            <table class="govuk-table" data-module="moj-sortable-table" aria-describedby="ofsted-ratings">
              <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                  <th scope="col" class="govuk-body govuk-table__header" aria-sort="ascending">Rating</th>
                  <th scope="col" class="govuk-body govuk-table__header govuk-table__header--numeric govuk-!-width-one-third" aria-sort="none">Number of schools</th>
                </tr>
              </thead>
              <tbody class="govuk-table__body">
                @foreach (var rating in Enum.GetValues(typeof(OfstedRatingScore)).Cast<OfstedRatingScore>())
                {
                  <tr class="govuk-table__row">
                    <td class="govuk-body govuk-table__cell" data-sort-value="@rating.ToDataSortValue()">@rating.ToDisplayString()</td>
                    <td class="govuk-body govuk-table__cell govuk-table__cell--numeric" data-test-id="ofsted-rating-@rating.ToString()">
                      @Model.GetNumberOfAcademiesWithOfstedRating(rating)
                    </td>
                  </tr>
                }
              </tbody>
            </table>
          </div>
        </section>
      </div>
    </div>
  </div>
</section>
