@page
@using DfE.FindInformationAcademiesTrusts.Extensions
@model MembersModel

@{
  Layout = "_TrustLayout";
}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <partial name="_GovernanceTurnover" model="@Model"/>
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <section class="govuk-!-margin-bottom-9 app-table-container" data-testid="members">
      @if (Model.TrustGovernance.CurrentMembers.Length > 0)
      {
        <table class="govuk-table govuk-!-margin-bottom-0" data-module="moj-sortable-table" aria-describedby="members">
          <caption class="govuk-table__caption govuk-table__caption--m" id="members">Members</caption>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-body govuk-table__header" aria-sort="ascending">Name</th>
              <th scope="col" class="govuk-body govuk-table__header" aria-sort="none">Appointed by</th>
              <th scope="col" class="govuk-body govuk-table__header column-header-date" aria-sort="none">From</th>
              <th scope="col" class="govuk-body govuk-table__header column-header-date" aria-sort="none">To</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            @foreach (var governor in Model.TrustGovernance.CurrentMembers)
            {
              <tr class="govuk-table__row" data-testid="members-row">
                <th scope="row" class="govuk-body govuk-table__header" data-sort-value="@governor.FullName" data-testid="members-name">
                  @governor.FullName
                </th>
                <td class="govuk-body govuk-table__cell" data-sort-value="@governor.AppointingBody" data-testid="members-appointed">
                  @governor.AppointingBody
                </td>
                <td class="govuk-body govuk-table__cell" data-sort-value="@governor.DateOfAppointment?.ToString(StringFormatConstants.SortDate)" data-testid="members-from">
                  @governor.DateOfAppointment.ShowDateStringOrReplaceWithText()
                </td>
                <td class="govuk-body govuk-table__cell" data-sort-value="@governor.DateOfTermEnd?.ToString(StringFormatConstants.SortDate)" data-testid="members-to">
                  @governor.DateOfTermEnd.ShowDateStringOrReplaceWithText()
                </td>
              </tr>
            }
          </tbody>
        </table>
      }
      else
      {
        <h3 class="govuk-heading-m govuk-!-margin-bottom-3">Members</h3>
        <p class="govuk-body govuk-!-margin-bottom-0">No Members</p>
      }
    </section>
  </div>
</div>