@model SingleHeadlineGradeCellsModel

@* Single headline grade *@
<td class="govuk-table__cell govuk-body cell-ofsted-single-headline-grade"
  data-sort-value="@Model.SingleHeadlineGradeSort">
  <span class=@(Model.RatingShouldBeBold ? "govuk-!-font-weight-bold" : null)
    data-testid="@Model.DataTestIdPrefix-single-headline-grade">
    @Model.SingleHeadlineGradeText
  </span>
  @if (Model.HasInspection)
  {
    <strong
      class="govuk-tag @(Model.IsBeforeJoining ? "govuk-tag--grey" : "") govuk-!-text-align-centre govuk-!-width-three-quarters"
      data-testid="@Model.DataTestIdPrefix-before-after-joining">
      @Model.TagLabel
    </strong>
  }
</td>

@* Inspection date *@
<td class="govuk-table__cell govuk-body" data-sort-value="@Model.InspectionDateSort"
  data-testid="@Model.DataTestIdPrefix-date-of-inspection">
  @Model.InspectionDateText
</td>
