@model SingleHeadlineGradeCellsModel

@* Single headline grade *@
<td class="govuk-table__cell govuk-body cell-ofsted-single-headline-grade" data-sort-value="@Model.SingleHeadlineGradeSort">
  <span class=@(Model.RatingShouldBeBold ? "govuk-!-font-weight-bold" : null)>
    @Model.SingleHeadlineGradeText
  </span>
  @if (Model.HasInspection)
  {
    <strong class="govuk-tag @(Model.IsBeforeJoining ? "govuk-tag--grey" : "") govuk-!-text-align-centre govuk-!-width-three-quarters">
      @Model.TagLabel
    </strong>
  }
</td>

@* Inspection date  *@
<td class="govuk-table__cell govuk-body" data-sort-value="@Model.InspectionDateSort">
  @Model.InspectionDateText
</td>
