@page "/trusts/ofsted/safeguarding-and-concerns"
@using DfE.FindInformationAcademiesTrusts.Extensions
@model SafeguardingAndConcernsModel

@{
  Layout = "Ofsted/_OfstedLayout";
}

<section class="govuk-!-margin-top-8 app-table-container" data-testid="ofsted-safeguarding-and-concerns-name-table">
  <details class="govuk-details">
    <summary class="govuk-details__summary">
      <span class="govuk-details__summary-text">
        What this information means
      </span>
    </summary>
    <div class="govuk-details__text">

      <p class="govuk-body">
        <span class="govuk-!-font-weight-bold">'Effective safeguarding'</span> means that a school has been judged to have adequate safeguarding policies and processes in place. It reviews them regularly and implements them well.
      </p>
      <p class="govuk-body">
        <span class="govuk-!-font-weight-bold">'Category of concern'</span> means that a school has been found inadequate in a key or provision judgement. The school either has ‘serious weaknesses’ or requires ‘special measures’.
      </p>

    </div>
  </details>
  <table class="govuk-table" data-module="moj-sortable-table">
    <caption class="govuk-table__caption govuk-table__caption--m" data-testid="subpage-header">Safeguarding and concerns</caption>
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header govuk-body" aria-sort="ascending" data-testid="ofsted-safeguarding-and-concerns-name-header">
          School name
        </th>
        <th scope="col" class="govuk-table__header govuk-body column-header-ofsted-concern" aria-sort="none" data-testid="ofsted-safeguarding-and-concerns-effective-safeguarding-header">
          Effective safeguarding
        </th>
        <th scope="col" class="govuk-table__header govuk-body column-header-ofsted-concern" aria-sort="none" data-testid="ofsted-safeguarding-and-concerns-category-of-concern-header">
          Category of concern
        </th>
        <th scope="col" class="govuk-table__header govuk-body column-header-ofsted-concern" aria-sort="none" data-testid="ofsted-safeguarding-and-concerns-before-or-after-joining-header">
          Before or after joining
        </th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      @foreach (var academy in Model.Academies)
      {
        <tr class="govuk-table__row" data-testid="academy-row">
          <td class="govuk-table__cell govuk-body" data-sort-value="@academy.EstablishmentName" data-testid="ofsted-safeguarding-and-concerns-school-name">
            @academy.EstablishmentName<br/>
          </td>
          <td class="govuk-table__cell govuk-body" data-sort-value="@academy.CurrentOfstedRating.SafeguardingIsEffective.ToDataSortValue()" data-testid="ofsted-safeguarding-and-concerns-effective-safeguarding">
            @academy.CurrentOfstedRating.SafeguardingIsEffective.ToDisplayString()
          </td>
          <td class="govuk-table__cell govuk-body" data-sort-value="@academy.CurrentOfstedRating.CategoryOfConcern.ToDataSortValue()" data-testid="category-of-concern" data-testid="ofsted-safeguarding-and-concerns-category-of-concern">
            @academy.CurrentOfstedRating.CategoryOfConcern.ToDisplayString()
          </td>
          <td class="govuk-table__cell govuk-body" data-sort-value="@academy.WhenDidCurrentInspectionHappen" data-testid="ofsted-safeguarding-before-or-after-joining">
            @await Html.PartialAsync("_BeforeOrAfterTag", academy.WhenDidCurrentInspectionHappen)
          </td>
        </tr>
      }
    </tbody>
  </table>
</section>
