@model LayoutModel

<!DOCTYPE html>
<html lang="en" class="govuk-template ">

<head>
  <meta charset="utf-8">
  <title>@ViewData["Title"] - @ViewConstants.ServiceName</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
  <meta name="theme-color" content="#0b0c0c">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="shortcut icon" sizes="16x16 32x32 48x48" href="~/dist/images/favicon.ico" type="image/x-icon">
  <link rel="mask-icon" href="~/dist/images/govuk/govuk-mask-icon.svg" color="#0b0c0c">
  <link rel="apple-touch-icon" sizes="180x180" href="~/dist/images/govuk/govuk-apple-touch-icon-180x180.png">
  <link rel="apple-touch-icon" sizes="167x167" href="~/dist/images/govuk/govuk-apple-touch-icon-167x167.png">
  <link rel="apple-touch-icon" sizes="152x152" href="~/dist/images/govuk/govuk-apple-touch-icon-152x152.png">
  <link rel="apple-touch-icon" href="~/dist/images/govuk/govuk-apple-touch-icon.png">
  <link rel="stylesheet" href="~/dist/main.css"/>
</head>

<body class="govuk-template__body ">
  <script>
    document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');
  </script>
  <partial name="_Header"/>

  <div class="@Model.GetPageWidthClass("dfe-width-container")">
    <main class="@Model.GetPageWidthClass("govuk-main-wrapper")" id="main-content" role="main">
      @RenderBody()
    </main>
  </div>

  <partial name="_Footer"/>
  <script src="~/dist/main.js"></script>
  @await RenderSectionAsync("Scripts", false)
</body>

</html>
