@model AcademiesPageModel

@{
  Layout = "_TrustLayout";
}

@functions {

  private string GetCurrentlySelectedClassIf(string linkName)
  {
    var selectedClass = "govuk-tabs__list-item--selected";
    return Model.TrustPageMetadata.TabName == linkName ? selectedClass : string.Empty;
  }

}

<div class="govuk-tabs">
  <h2 class="govuk-tabs__title">
    Contents
  </h2>
  <ul class="govuk-tabs__list">
    <li class="govuk-tabs__list-item @GetCurrentlySelectedClassIf(ViewConstants.AcademiesDetailsPageName)">
      <a id="academies-details-link" class="govuk-tabs__tab" asp-page="./Details" asp-route-uid="@Model.TrustSummary.Uid">
        <span class="govuk-visually-hidden">Academies </span>Details
      </a>
    </li>
    <li class="govuk-tabs__list-item @GetCurrentlySelectedClassIf(ViewConstants.AcademiesPupilNumbersPageName)">
      <a id="academies-pupil-numbers-link" class="govuk-tabs__tab" asp-page="./PupilNumbers" asp-route-uid="@Model.TrustSummary.Uid">
        <span class="govuk-visually-hidden">Academies </span>Pupil numbers
      </a>
    </li>
    <li class="govuk-tabs__list-item @GetCurrentlySelectedClassIf(ViewConstants.AcademiesFreeSchoolMealsPageName)">
      <a id="free-school-meals-link" class="govuk-tabs__tab" asp-page="./FreeSchoolMeals" asp-route-uid="@Model.TrustSummary.Uid">
        <span class="govuk-visually-hidden">Academies </span>Free school meals
      </a>
    </li>
  </ul>
  <div class="govuk-tabs__panel">
    @RenderBody()
  </div>
</div>
<section class="govuk-!-margin-top-2 govuk-!-margin-bottom-2 export-container">
  <input type="hidden" name="Uid" value="@Model.TrustSummary.Uid"/>
  <a asp-page-handler="Export" asp-route-uid="@Model.TrustSummary.Uid"
     class="govuk-button govuk-button--secondary export-button--with-icon" data-testid="export-academy-data">
    <svg class="export-button__icon" width="20" height="20" viewBox="0 0 29 28" fill="none" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false">
      <path d="M24.968 17.5V22.1667C24.968 22.7855 24.7222 23.379 24.2846 23.8166C23.847 24.2542 23.2535 24.5 22.6347 24.5H6.30135C5.68251 24.5 5.08902 24.2542 4.65143 23.8166C4.21385 23.379 3.96802 22.7855 3.96802 22.1667V17.5M8.63468 11.6667L14.468 17.5M14.468 17.5L20.3014 11.6667M14.468 17.5V3.5" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
    </svg>
    Download all academy data
  </a>
</section>

@section Scripts {
  @await RenderSectionAsync("Scripts", false)
}
