@model AcademiesAreaModel

@{
    Layout = "_TrustLayout";
}

<h3 class="govuk-heading-m">@Model.TrustPageMetadata.SubPageName</h3>
<div class="govuk-tabs">
    <ul class="govuk-tabs__list">
        @foreach (var tab in Model.TabList)
        {
            <li class="govuk-tabs__list-item @(tab.LinkIsActive ? "govuk-tabs__list-item--selected" : "")">
                <a class="govuk-tabs__tab" asp-page="@tab.AspPage" asp-all-route-data="@tab.AspAllRouteData"
                   data-testid="@tab.TestId">
                    <span class="govuk-visually-hidden">@tab.VisuallyHiddenLinkText </span>@tab.LinkDisplayText
                </a>
            </li>
        }
    </ul>
    <div class="govuk-tabs__panel">
        @RenderBody()
    </div>
</div>

@await RenderSectionAsync("Export", false)

@section Scripts {
    @await RenderSectionAsync("Scripts", false)
}
