@page
@model AcademiesDetailsModel

@{
  Layout = "Academies/_AcademiesLayout";
}

<section class="govuk-!-margin-top-4 govuk-!-margin-bottom-9 app-table-container">
  <p class="govuk-body-s">The following links open in a new tab</p>
  <table class="govuk-table" data-module="moj-sortable-table" aria-describedby="academies-details-link">
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-body govuk-table__header" aria-sort="ascending">School name</th>
        <th scope="col" class="govuk-body govuk-table__header" aria-sort="none">Local authority</th>
        <th scope="col" class="govuk-body govuk-table__header" aria-sort="none">Type</th>
        <th scope="col" class="govuk-body govuk-table__header" aria-sort="none">Rural or urban</th>
        <th scope="col" class="govuk-body govuk-table__header">Get information about schools</th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      @foreach (var academy in Model.Trust.Academies)
      {
        <tr class="govuk-table__row" data-testid="academy-row">
          <th scope="row" class="govuk-body govuk-table__header" data-sort-value="@academy.EstablishmentName" data-testid="school-name">
            @academy.EstablishmentName<br/><span class="govuk-!-font-weight-regular" data-testid="urn">URN: @academy.Urn</span>
          </th>
          <td class="govuk-body govuk-table__cell" data-testid="local-authority">@academy.LocalAuthority</td>
          <td class="govuk-body govuk-table__cell" data-testid="type-of-establishment">@academy.TypeOfEstablishment</td>
          <td class="govuk-body govuk-table__cell" data-testid="urban-or-rural">@academy.UrbanRural</td>
          <td class="govuk-body govuk-table__cell">
            <a href="@Model.LinkBuilder.GetInformationAboutSchoolsListingLink(academy)" class="govuk-link" rel="noreferrer noopener" target="_blank" aria-label="@academy.EstablishmentName on Get information about schools (opens in new tab)">
              More information
            </a>
          </td>
        </tr>
      }
    </tbody>
  </table>
</section>
