@using DfE.FIAT.Data.Enums
@namespace DfE.FIAT.Web.Pages.Trusts
@model ITrustsAreaModel
<details class="govuk-details" data-module="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      <span>Source and updates</span>
    </span>
  </summary>
  <ul class="govuk-list govuk-details__text">
    @foreach (var source in Model.DataSources)
    {
      <li class="source-list-item govuk-!-margin-bottom-5" data-testid="@Model.MapDataSourceToTestId(source)">
        <span class="govuk-!-font-weight-bold margin-right-class">@string.Join(", ", source.Fields)</span>

        <span>Last updated: @(source.LastUpdatedText)</span>

        @if (source.DataSource.NextUpdated is not null)
        {
          <span>Next scheduled update: @source.DataSource.NextUpdated</span>
        }

        @if (source.DataSource.UpdatedBy is not null)
        {
          <span>Updated by: @source.UpdatedByText</span>
        }

        @if (source.DataSource.Source != Source.FiatDb)
        {
          <span>Data taken from: @Model.MapDataSourceToName(source.DataSource)</span>
        }
      </li>
    }
  </ul>
</details>
