@page "/trusts/contacts/in-dfe"
@using DfE.FindInformationAcademiesTrusts.Data.Enums
@using DfE.FindInformationAcademiesTrusts.Extensions
@model InDfeModel

@{
  Layout = "_TrustLayout";
}

@section TrustPageMessage
{
  @if (!string.IsNullOrWhiteSpace(TempData["ContactUpdatedMessage"] as string))
  {
    <div class="govuk-notification-banner govuk-notification-banner--success" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
      <div class="govuk-notification-banner__header">
        <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
          Success
        </h2>
      </div>
      <div class="govuk-notification-banner__content">
        <h3 class="govuk-notification-banner__heading">
          @TempData["ContactUpdatedMessage"]
        </h3>
      </div>
    </div>
  }
}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <section class="govuk-!-margin-bottom-9">
      <h2 class="govuk-heading-m" data-testid="subpage-header">
        Contacts in DfE
      </h2>
      <div class="govuk-summary-card" data-testid="trust-relationship-manager">
        <div class="govuk-summary-card__title-wrapper">
          <h3 class="govuk-summary-card__title">
            @ContactRole.TrustRelationshipManager.MapRoleToViewString()
          </h3>
          <div class="govuk-summary-card__actions">
            <a class="govuk-link" asp-page="/Trusts/Contacts/EditTrustRelationshipManager" asp-route-uid="@Model.Uid">Change<span class="govuk-visually-hidden"> details of this contact (@ContactRole.TrustRelationshipManager.MapRoleToViewString())</span></a>
          </div>
        </div>
        <partial name="_DisplayContact" model="@Model.TrustRelationshipManager"/>
      </div>
      <div class="govuk-summary-card" data-testid="sfso-lead">
        <div class="govuk-summary-card__title-wrapper">
          <h3 class="govuk-summary-card__title">
            @ContactRole.SfsoLead.MapRoleToViewString()
          </h3>
          <div class="govuk-summary-card__actions">
            <a class="govuk-link" asp-page="/Trusts/Contacts/EditSfsoLead" asp-route-uid="@Model.Uid">Change<span class="govuk-visually-hidden"> details of this contact (@ContactRole.SfsoLead.MapRoleToViewString())</span></a>
          </div>
        </div>
        <partial name="_DisplayContact" model="@Model.SfsoLead"/>
      </div>
    </section>
  </div>
</div>
