@page
@model SenModel

@{
  Layout = "_SchoolLayout";
}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h3 class="govuk-heading-m">SEN (special educational needs)</h3>
    <h4 class="govuk-visually-hidden">Special educational needs resource</h4>
    <dl class="govuk-summary-list govuk-!-margin-bottom-0">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key govuk-!-width-two-thirds">
          Resourced provision number on roll
        </dt>
        <dd class="govuk-summary-list__value">@Model.ResourcedProvisionOnRoll</dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key govuk-!-width-two-thirds">
          Resourced provision capacity
        </dt>
        <dd class="govuk-summary-list__value">@Model.ResourcedProvisionCapacity</dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key govuk-!-width-two-thirds">
          Special Educational Needs (SEN) unit number on roll
        </dt>
        <dd class="govuk-summary-list__value">@Model.SenOnRoll</dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key govuk-!-width-two-thirds">
          Special Educational Needs (SEN) unit number capacity
        </dt>
        <dd class="govuk-summary-list__value">@Model.SenCapacity</dd>
      </div>
    </dl>
    <hr class="govuk-section-break govuk-section-break--m"/>
    <h4 class="govuk-visually-hidden">Special educational needs provision</h4>
    <dl class="govuk-summary-list govuk-!-margin-bottom-0">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key govuk-!-width-one-third">
          Type of resourced provision
        </dt>
        <dd class="govuk-summary-list__value">
          @Model.ResourcedProvisionType
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key govuk-!-width-one-third">
          Type of SEN provision
        </dt>
        <dd class="govuk-summary-list__value">
          <ul class="govuk-list">
            @if (Model.SenProvisionTypes.Count > 0)
            {
              foreach (var SenType in Model.SenProvisionTypes)
              {
                <li>@SenType</li>
              }
            }
          </ul>
        </dd>
      </div>
    </dl>
    <hr class="govuk-section-break govuk-section-break--m"/>
    @* <details class="govuk-details"> *@
    @*   <summary class="govuk-details__summary"> *@
    @*     <span class="govuk-details__summary-text">Where this information came from</span> *@
    @*   </summary> *@
    @*   <div class="govuk-details__text"> *@
    @*     <p class="govuk-body"> *@
    @*       <span class="govuk-!-font-weight-bold">Academy details:</span> *@
    @*     </p> *@
    @*     <ul class="govuk-list govuk-list--bullet"> *@
    @*       $1$insert actual dates#1# *@
    @*       <li>All information was taken from Get information about schools on 17 February 2025.</li> *@
    @*     </ul> *@
    @* *@
    @*     <p class="govuk-body"> *@
    @*       <span class="govuk-!-font-weight-bold">Reference numbers:</span> *@
    @*     </p> *@
    @*     <ul class="govuk-list govuk-list--bullet"> *@
    @*       <li>All information was taken from Get information about schools on 17 February 2025.</li> *@
    @*     </ul> *@
    @* *@
    @*     <p class="govuk-body"> *@
    @*       <span class="govuk-!-font-weight-bold">Federation details:</span> *@
    @*     </p> *@
    @*     <ul class="govuk-list govuk-list--bullet"> *@
    @*       <li>All information was taken from Get information about schools on 17 February 2025.</li> *@
    @*     </ul> *@
    @* *@
    @*     <p class="govuk-body"> *@
    @*       <span class="govuk-!-font-weight-bold">SEN (special educational needs):</span> *@
    @*     </p> *@
    @*     <ul class="govuk-list govuk-list--bullet"> *@
    @*       <li>All information was taken from Get information about schools on 17 February 2025.</li> *@
    @*     </ul> *@
    @*   </div> *@
    @* </details> *@
  </div>
</div>