@page "/trusts/governance/historic-members"
@using DfE.FIAT.Web.Extensions
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model HistoricMembersModel

@{
  Layout = "_TrustLayout";
}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <partial name="_GovernanceTurnover" model="@Model"/>
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <section class="app-table-container govuk-!-margin-bottom-9" data-testid="historic-members">
      @if (Model.TrustGovernance.HistoricMembers.Length > 0)
      {
        <table class="govuk-table govuk-!-margin-bottom-0" data-module="moj-sortable-table" aria-describedby="historic-members">
          <caption class="govuk-table__caption govuk-table__caption--m" id="historic-members" data-testid="subpage-header">Historic members</caption>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-body govuk-table__header" aria-sort="ascending">Name</th>
              <th scope="col" class="govuk-body govuk-table__header" aria-sort="none">Role</th>
              <th scope="col" class="govuk-body govuk-table__header" aria-sort="none">Appointed by</th>
              <th scope="col" class="govuk-body govuk-table__header column-header-date" aria-sort="none">From</th>
              <th scope="col" class="govuk-body govuk-table__header column-header-date" aria-sort="none">To</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            @foreach (var governor in Model.TrustGovernance.HistoricMembers)
            {
              <tr class="govuk-table__row" data-testid="historic-members-row">
                <th scope="row" class="govuk-body govuk-table__header" data-sort-value="@governor.FullName" data-testid="historic-members-name">
                  @governor.FullName
                </th>
                <td class="govuk-body govuk-table__cell" data-sort-value="@governor.Role" data-testid="historic-members-role">
                  @governor.Role
                </td>
                <td class="govuk-body govuk-table__cell" data-sort-value="@governor.AppointingBody" data-testid="historic-members-appointed">
                  @governor.AppointingBody
                </td>
                <td class="govuk-body govuk-table__cell" data-sort-value="@governor.DateOfAppointment?.ToString(StringFormatConstants.SortDate)" data-testid="historic-members-from">
                  @governor.DateOfAppointment.ShowDateStringOrReplaceWithText()
                </td>
                <td class="govuk-body govuk-table__cell" data-sort-value="@governor.DateOfTermEnd?.ToString(StringFormatConstants.SortDate)" data-testid="historic-members-to">
                  @governor.DateOfTermEnd.ShowDateStringOrReplaceWithText()
                </td>
              </tr>
            }
          </tbody>
        </table>
      }
      else
      {
        <h3 class="govuk-heading-m govuk-!-margin-bottom-3" data-testid="subpage-header">Historic members</h3>
        <p class="govuk-body govuk-!-margin-bottom-0">No Historic members</p>
      }
    </section>
  </div>
</div>
