@page
@model SearchModel

@{
  ViewData["Title"] = string.IsNullOrWhiteSpace(Model.KeyWords) ? "Search" : $"{Model.KeyWords} - Search";
}

<div class="govuk-grid-row govuk-!-margin-bottom-6">
  <div class="govuk-grid-column-one-half">
    <form class="govuk-form-group app-search">
      <h1 class="govuk-label-wrapper">
        <label class="govuk-label govuk-label--l" for="@Model.InputId">
          Search
        </label>
      </h1>
      <partial name="_SearchForm" model="Model"/>
    </form>
  </div>
</div>
<div class="govuk-grid-row">
  <section aria-labelledby="results-details" class="govuk-grid-column-three-quarters">
    <h2 id="results-details" class="govuk-heading-m">@Model.Trusts.Count() results for "@Model.KeyWords"</h2>
    @if (Model.Trusts.Any())
    {
      <ul class="govuk-list">
        @foreach (var trust in Model.Trusts)
        {
          <li class="govuk-!-margin-bottom-6">
            <a asp-page="./Trusts/Details" asp-route-ukprn="@trust.Ukprn" class="govuk-!-font-weight-bold govuk-link govuk-!-font-size-24">@Html.DisplayFor(modelItem => trust.Name)</a>
            <dl class="govuk-summary-list govuk-summary-list--no-border app-search-results-summary-list">
              <div class="govuk-summary-list__row govuk-body app-search-results-summary-list__row">
                <dt class="govuk-summary-list__key app-search-results-summary-list__key app-search-results-summary-list__item">
                  Address:
                </dt>
                <dd class="govuk-summary-list__value app-search-results-summary-list__item">
                  @Html.DisplayFor(modelItem => trust.Address)
                </dd>
              </div>
              <div class="govuk-summary-list__row govuk-body app-search-results-summary-list__row">
                <dt class="govuk-summary-list__key app-search-results-summary-list__key app-search-results-summary-list__item">
                  UKPRN:
                </dt>
                <dd class="govuk-summary-list__value app-search-results-summary-list__item">
                  @Html.DisplayFor(modelItem => trust.Ukprn)
                </dd>
              </div>
              <div class="govuk-summary-list__row app-search-results-summary-list__row">
                <dt class="govuk-summary-list__key app-search-results-summary-list__key app-search-results-summary-list__item">
                  Academies in this trust:
                </dt>
                <dd class="govuk-summary-list__value app-search-results-summary-list__item">
                  @Html.DisplayFor(modelItem => trust.AcademyCount)
                </dd>
              </div>
            </dl>
            <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-top-6">
          </li>
        }
      </ul>
    }
    else
    {
      <p>Check the spelling of the trust name. </p>

      <p>Enter a reference number in the right format. For example:</p>

      <ul>
        <li>TRN (trust reference number) or Group ID - TR00123</li>
        <li>UID (unique identifier) - 2034</li>
        <li>UKPRN (UK provider number) - 100023456</li>
        <li>Companies House number - 00123456</li>
      </ul>
    }

  </section>
</div>
