@page
@model SearchModel

@{
  Layout = "_ContentLayout";
  ViewData["Title"] = Model.Title;
}

<div class="govuk-grid-row govuk-!-margin-bottom-6">
  <div class="govuk-grid-column-one-half">
    <form class="govuk-form-group app-search" role="search" aria-label="sitewide" method="post">
      <h1 class="govuk-label-wrapper">
        <label class="govuk-label govuk-label--l" for="@Model.PageSearchFormInputId">
          Search
        </label>
      </h1>
      <partial name="_PageSearchForm" model="Model"/>
    </form>
  </div>
</div>
<div class="govuk-grid-row">
  <section aria-labelledby="results-details" class="govuk-grid-column-three-quarters">
    <h2 id="results-details" class="govuk-heading-m">@Model.PageStatus.TotalResults result@(Model.PageStatus.TotalResults != 1 ? "s" : "") for "@Model.KeyWords"</h2>
    @if (Model.Trusts.Any())
    {
      <ul class="govuk-list">
        @foreach (var trust in Model.Trusts)
        {
          <li class="govuk-!-margin-bottom-6" data-testid="trust-result">
            <a asp-page="./Trusts/Overview/TrustDetails" asp-route-uid="@trust.Uid" class="govuk-!-font-weight-bold govuk-link govuk-!-font-size-24" data-testid="trust-name">@Html.DisplayFor(modelItem => trust.Name)</a>
            <dl class="govuk-summary-list govuk-summary-list--no-border app-search-results-summary-list">
              <div class="govuk-summary-list__row govuk-body app-search-results-summary-list__row">
                <dt class="govuk-summary-list__key app-search-results-summary-list__key app-search-results-summary-list__item">
                  Address:
                </dt>
                <dd class="govuk-summary-list__value app-search-results-summary-list__item" data-testid="address">
                  @Html.DisplayFor(modelItem => trust.Address)
                </dd>
              </div>
              <div class="govuk-summary-list__row govuk-body app-search-results-summary-list__row">
                <dt class="govuk-summary-list__key app-search-results-summary-list__key app-search-results-summary-list__item">
                  Group ID/TRN:
                </dt>
                <dd class="govuk-summary-list__value app-search-results-summary-list__item" data-testid="trn">
                  @Html.DisplayFor(modelItem => trust.GroupId)
                </dd>
              </div>
              <div class="govuk-summary-list__row govuk-body app-search-results-summary-list__row">
                <dt class="govuk-summary-list__key app-search-results-summary-list__key app-search-results-summary-list__item">
                  UID:
                </dt>
                <dd class="govuk-summary-list__value app-search-results-summary-list__item" data-testid="uid">
                  @Html.DisplayFor(modelItem => trust.Uid)
                </dd>
              </div>
            </dl>
            <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-top-6">
          </li>
        }
      </ul>
    }
    else
    {
      <p class="govuk-body">Check the spelling of the trust name. Make sure you include the right punctuation.</p>
    }

  </section>
</div>
@if (Model.PageStatus.TotalResults > 0)
{
  <partial name="Shared/_Pagination"/>
}
