@using Microsoft.AspNetCore.Mvc.TagHelpers
@model IPaginationModel

<nav class="govuk-pagination" aria-label="results">
  @* Previous link *@
  @if (Model.PageStatus.HasPreviousPage)
  {
    <div class="govuk-pagination__prev">
      <a class="govuk-link govuk-pagination__link" asp-page="@("/" + Model.PageName)" asp-all-route-data="@Model.PaginationRouteData" asp-route-PageNumber="@(Model.PageStatus.PageIndex - 1)" rel="prev" data-testid="previous-page">
        <svg class="govuk-pagination__icon govuk-pagination__icon--prev" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
          <path d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z"></path>
        </svg>
        <span class="govuk-pagination__link-title">Previous</span>
      </a>
    </div>
  }
  <ul class="govuk-pagination__PageStatus">
    @* First Page *@
    @if (Model.PageStatus.PageIndex != 1)
    {
      <li class="govuk-pagination__item">
        <a class="govuk-link govuk-pagination__link" asp-page="@("/" + Model.PageName)" asp-all-route-data="@Model.PaginationRouteData" asp-route-PageNumber="1" aria-label="Page 1" data-testid="page-1">
          1
        </a>
      </li>
    }
    @* Skipped pages *@
    @if (Model.PageStatus.HasPreviousPage && Model.PageStatus.PageIndex - 1 > 2)
    {
      <li class="govuk-pagination__item govuk-pagination__item--ellipses">&ctdot;</li>
    }
    @* previous page *@
    @if (Model.PageStatus.HasPreviousPage && Model.PageStatus.PageIndex - 1 != 1)
    {
      <li class="govuk-pagination__item">
                <a class="govuk-link govuk-pagination__link" asp-page="@("/" + Model.PageName)" asp-all-route-data="@Model.PaginationRouteData" asp-route-PageNumber="@(Model.PageStatus.PageIndex - 1)" aria-label="Page @(Model.PageStatus.PageIndex - 1)" data-testid="page-@(Model.PageStatus.PageIndex - 1)">
          @(Model.PageStatus.PageIndex - 1)
        </a>
      </li>
    }
    @* Current page *@
    <li class="govuk-pagination__item govuk-pagination__item--current">
      <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page @Model.PageStatus.PageIndex" aria-current="page" data-testid="page-@Model.PageStatus.PageIndex">
        @Model.PageStatus.PageIndex
      </a>
    </li>
    @* Next Page *@
    @if (Model.PageStatus.PageIndex != Model.PageStatus.TotalPages && Model.PageStatus.PageIndex + 1 != Model.PageStatus.TotalPages)
    {
      <li class="govuk-pagination__item">
        <a class="govuk-link govuk-pagination__link" asp-page="@("/" + Model.PageName)" asp-all-route-data="@Model.PaginationRouteData" asp-route-PageNumber="@(Model.PageStatus.PageIndex + 1)" aria-label="Page @(Model.PageStatus.PageIndex + 1)" data-testid="page-@(Model.PageStatus.PageIndex + 1)">
          @(Model.PageStatus.PageIndex + 1)
        </a>
      </li>
    }
    @* skipped pages *@
    @if (Model.PageStatus.HasNextPage && Model.PageStatus.PageIndex + 2 < Model.PageStatus.TotalPages)
    {
      <li class="govuk-pagination__item govuk-pagination__item--ellipses">&ctdot;</li>
    }
    @* last page *@
    @if (Model.PageStatus.PageIndex != Model.PageStatus.TotalPages)
    {
      <li class="govuk-pagination__item">
        <a class="govuk-link govuk-pagination__link" asp-page="@("/" + Model.PageName)" asp-all-route-data="@Model.PaginationRouteData" asp-route-PageNumber="@(Model.PageStatus.TotalPages)" aria-label="Page @(Model.PageStatus.TotalPages)" data-testid="page-@Model.PageStatus.TotalPages">
          @(Model.PageStatus.TotalPages)
        </a>
      </li>
    }
  </ul>
  @* next link *@
  @if (Model.PageStatus.HasNextPage)
  {
    <div class="govuk-pagination__next">
      <a class="govuk-link govuk-pagination__link" asp-page="@("/" + Model.PageName)" asp-all-route-data="@Model.PaginationRouteData" asp-route-PageNumber="@(Model.PageStatus.PageIndex + 1)" data-testid="next-page">
        <span class="govuk-pagination__link-title">Next</span>
        <svg class="govuk-pagination__icon govuk-pagination__icon--next" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
          <path d="m8.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
        </svg>
      </a>
    </div>
  }
</nav>
