@model NavLink[]

<nav class="moj-sub-navigation" aria-label="Sub navigation">
  <ul class="moj-sub-navigation__list">
    @foreach (var link in Model)
    {
      <li class="moj-sub-navigation__item">
        <a class="moj-sub-navigation__link" asp-page="@link.AspPage" asp-all-route-data="@link.AspAllRouteData"
           data-testid="@link.TestId" aria-current="@(link.LinkIsActive ? "page" : null)">
          <span class="govuk-visually-hidden">@link.VisuallyHiddenLinkText </span>@link.LinkDisplayText
        </a>
      </li>
    }
  </ul>
</nav>
