@page "/trusts/academies/in-trust/free-school-meals"
@model FreeSchoolMealsModel

@{
    Layout = "Academies/_AcademiesLayout";
}

<section class="app-table-container">
    <table class="govuk-table" data-module="moj-sortable-table" aria-describedby="free-school-meals-caption">
        <caption class="govuk-table__caption govuk-table__caption--m" id="free-school-meals-caption" data-testid="subpage-header">Free school meals</caption>
        <thead class="govuk-table__head">
            <tr class="govuk-table__row">
                <th scope="col" class="govuk-body govuk-table__header" aria-sort="ascending">School name</th>
                <th scope="col" class="govuk-body govuk-table__header" aria-sort="none">URN</th>
                <th scope="col" class="govuk-body govuk-table__header" aria-sort="none">Pupils eligible for free school meals</th>
                <th scope="col" class="govuk-body govuk-table__header" aria-sort="none">Local authority average 2023/24</th>
                <th scope="col" class="govuk-body govuk-table__header" aria-sort="none">National average 2023/24</th>
            </tr>
        </thead>
        <tbody class="govuk-table__body">
            @foreach (var academy in Model.Academies)
            {
                <tr class="govuk-table__row" data-testid="academy-row">
                    <td class="govuk-body govuk-table__cell" data-sort-value="@academy.EstablishmentName" data-testid="school-name">
                        @academy.EstablishmentName
                    </td>
                    <td class="govuk-body govuk-table__cell" data-testid="urn">@academy.Urn</td>
                    <td class="govuk-body govuk-table__cell" data-sort-value="@academy.PercentageFreeSchoolMeals" data-testid="pupils-eligible">
                        @if (academy.PercentageFreeSchoolMeals is not null)
                        {
                            @academy.PercentageFreeSchoolMeals?.ToString("N1")

                            <span>%</span>
                        }
                    </td>
                    <td class="govuk-body govuk-table__cell" data-sort-value="@academy.LaAveragePercentageFreeSchoolMeals" data-testid="local-authority-average">
                        @academy.LaAveragePercentageFreeSchoolMeals.ToString("N1")%
                    </td>
                    <td class="govuk-body govuk-table__cell" data-sort-value="@academy.NationalAveragePercentageFreeSchoolMeals" data-testid="national-average">
                        @academy.NationalAveragePercentageFreeSchoolMeals.ToString("N1")%
                    </td>
                </tr>
            }
        </tbody>
    </table>
</section>

@section Export
{
    @{
        var exportModel = new AcademiesExportButtonModel(Model, "Download all academy data");
    }
    <partial name="Trusts/Academies/_AcademiesExportButton" model="exportModel"/>
}