@page "/trusts/academies/in-trust/pupil-numbers"
@using DfE.FindInformationAcademiesTrusts.Extensions
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model PupilNumbersModel

@{
  Layout = "Academies/_AcademiesLayout";
}

<section class="app-table-container">
  <table class="govuk-table" data-module="moj-sortable-table" aria-describedby="pupil-numbers-caption">
    <caption class="govuk-table__caption govuk-table__caption--m" id="pupil-numbers-caption"
             data-testid="subpage-header">Pupil numbers
    </caption>
    <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-body govuk-table__header" aria-sort="ascending">School name</th>
      <th scope="col" class="govuk-body govuk-table__header" aria-sort="none">URN</th>
      <th scope="col" class="govuk-body govuk-table__header" aria-sort="none">Phase and age range</th>
      <th scope="col" class="govuk-body govuk-table__header" aria-sort="none">Pupil numbers</th>
      <th scope="col" class="govuk-body govuk-table__header" aria-sort="none">Pupil capacity</th>
      <th scope="col" class="govuk-body govuk-table__header" aria-sort="none"> % full</th>
    </tr>
    </thead>
    <tbody class="govuk-table__body">
    @foreach (var academy in Model.Academies)
    {
      <tr class="govuk-table__row" data-testid="academy-row">
        <td class="govuk-body govuk-table__cell" data-sort-value="@academy.EstablishmentName" data-testid="school-name">
          @academy.EstablishmentName
        </td>
        <td class="govuk-body govuk-table__cell" data-testid="urn">@academy.Urn</td>
        <td class="govuk-body govuk-table__cell" data-sort-value="@PupilNumbersModel.PhaseAndAgeRangeSortValue(academy)"
            data-testid="phase-and-age-range">
          @academy.PhaseOfEducation @academy.AgeRange.ToTabularDisplayString()
        </td>

        <td class="govuk-body govuk-table__cell" data-sort-value="@academy.NumberOfPupils"
            data-testid="pupil-numbers">@academy.NumberOfPupils?.ToString("N0")</td>
        <td class="govuk-body govuk-table__cell" data-sort-value="@academy.SchoolCapacity"
            data-testid="pupil-capacity">@academy.SchoolCapacity?.ToString("N0")</td>
        <td class="govuk-body govuk-table__cell" data-sort-value="@academy.PercentageFull"
            data-testid="percentage-full">
          @if (academy.PercentageFull is not null)
          {
            @academy.PercentageFull?.ToString("N0")<span>%</span>
          }
        </td>
      </tr>
    }
    </tbody>
  </table>
</section>

@section Export
{
  @{
    var exportModel = new AcademiesExportButtonModel(Model.TrustSummary.Uid, "Download all academy data", "export-academy-data");
  }
  <partial name="Trusts/Academies/_AcademiesExportButton" model="exportModel" />
}