@namespace DfE.FIAT.Web.Pages.Trusts.Academies 
@model OfstedRatingCellModel
<td class="govuk-body govuk-table__cell" data-sort-value="@Model.OfstedRatingSortValue" data-testid="@Model.IdPrefix-ofsted-rating">
  <span class="govuk-!-font-weight-bold">@Model.OfstedRatingDescription</span>
  <span>
    @if (Model.OfstedRating.InspectionDate is not null)
    {
      <br/>
      @Model.OfstedRating.InspectionDate.Value.ToString(StringFormatConstants.ViewDate)
      <br/>
      <strong class="@Model.TagClasses govuk-!-margin-top-2 govuk-!-margin-bottom-1">
        @Model.TagText
      </strong>
    }
  </span>
</td>
