@using DfE.FindInformationAcademiesTrusts.Data.Enums
@model FinancialDocumentsAreaModel
@{
  Layout = "_TrustLayout";
}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-m" data-testid="subpage-header">
      @Model.TrustPageMetadata.SubPageName
    </h2>
    <p class="govuk-body" data-testid="you-must-have-permission-message">You must have permission to view these
      documents.</p>
    @if (Model.InternalUseOnly)
    {
      <partial name="Shared/_InternalUseOnlyWarning" model="@Model.TrustPageMetadata.SubPageName" />
    }
    <dl class="govuk-summary-list">
      @foreach (var doc in Model.FinancialDocuments)
      {
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key" data-testid="financial-docs-financial-year">
            @doc.YearFrom to @doc.YearTo
          </dt>
          <dd class="govuk-summary-list__value" data-testid="financial-docs-financial-status-or-link">
            @switch (doc)
            {
              case { Status: FinancialDocumentStatus.Submitted, Link: not null }:
                <a href="@doc.Link" class="govuk-link" rel="noreferrer noopener" target="_blank">
                  View
                  <span class="govuk-visually-hidden">@doc.YearFrom to @doc.YearTo</span>
                  @Model.FinancialDocumentDisplayName (opens in a new tab)
                </a>
                break;
              case { Status: FinancialDocumentStatus.NotYetSubmitted }:
                <strong class="govuk-tag govuk-tag--yellow">Not yet submitted</strong>
                break;
              case { Status: FinancialDocumentStatus.NotSubmitted }:
                <span>Not submitted</span>
                break;
              case { Status: FinancialDocumentStatus.NotExpected }:
                <span>Not expected</span>
                break;
              default:
                <span>There is a problem displaying this document</span>
                break;
            }
          </dd>
        </div>
      }
    </dl>

    <details class="govuk-details" data-testid="about-these-documents">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          About these documents
        </span>
      </summary>
      <div class="govuk-details__text">
        <p class="govuk-heading-s">Requesting access or reporting a problem</p>
        <p class="govuk-body">Financial documents are maintained by the Data Science team.</p>
        <p class="govuk-body"><strong>Do not</strong> contact a trust about documents that are missing or in the wrong
          format.</p>
        <p class="govuk-body">To report a problem with a document, or if you have a <strong>business need</strong> to be
          granted access, email:</p>
        <p class="govuk-body">
          <a href="mailto:academiesfinancialmonitoring@education.gov.uk" class="govuk-link"
            rel="noreferrer noopener">academiesfinancialmonitoring@education.gov.uk</a>.
        </p>
        <p class="govuk-heading-s">Why a document might not be expected</p>
        <p class="govuk-body">If a trust could not have submitted a document, for example because it had not formed yet,
          we say that it was ‘not expected’.</p>
      </div>
    </details>

    @RenderBody()

  </div>
</div>
